/* Estilos principais */
body {
  background-color: #FFFFFF !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff !important;
  overflow: hidden;
  width: 100vw;
}

.bgHeader {
  width: 100%;
  background-color: #ffffff;
}

.header {
  text-align: center;
  background-color: #2F4972;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}

.image {
  width: 30vw;
}

/* Caixa branca ao redor do formulário */
.bgFormContainer {
  background-color: #2F4972;
  width: 100%;
}

.formContainer {
  background-color: #ffffff;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 100px;
}

.formTitle {
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #ff8888;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background-color: #ffa0a0;
}

.signupText {
  margin-top: 20px;
  color: #2F4972;
  font-size: 14px;
  text-align: center;
}

.signupLink {
  color: #2F4972;
  font-weight: bold;
  text-decoration: none;
}

.signupLink:hover {
  text-decoration: underline;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .image {
    width: auto;
    height: 350px;
    margin-bottom: 0px;
  }

  .formContainer {
    padding: 20px;
    height: 100%;
  }

  .input,
  .button {
    font-size: 14px;
  }

  .signupText {
    font-size: 14px;
  }
}

/* Estilos para Desktop */
@media (min-width: 769px) {
  .bgFormContainer {
    height: 100vh;
  }

  .bgHeader {
    height: 100vh;
  }

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .header {
    border-bottom-left-radius: 0px;
  }

  .formContainer {
    margin: 0;
    height: 100vh;
    width: 100%;
    border-top-right-radius: 0px;
  }

  .input,
  .button {
    font-size: 18px;
  }

  .signupText {
    font-size: 16px;
  }
}
