@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  opacity: 0; /* Começa com opacidade 0 (invisível) */
  transition: opacity 1.5s ease-in; /* Define o tempo e a transição para o fade-in */
  background-color: white;
}

.fade-in {
  opacity: 1; /* Torna o elemento visível com a transição */
}

.fade-out {
  opacity: 0; /* Inicia o efeito de fade-out */
  transition: opacity 1.5s ease-out; /* Suaviza o fade-out */
}

.backgroundImage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.navbarImage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  filter: invert(100%);
  z-index: 2;
}

.titulo {
  color: white;
  font-family: "Oregano", cursive;
  font-size: 8vw;
  text-align: center;
  z-index: 3;
  position: relative;
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 10vw;
    position: absolute;
    top: 50%;
  }
}

@media (min-width: 769px) {
  .backgroundImage,
  .navbarImage {
    display: none;
  }

  .titulo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    white-space: nowrap;
  }
}
