.forumPost {
  background: #D9D9D9;
  color: black;
  border-radius: 16px;
  padding: 14px 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.forumPostHeader {
  display: flex;
  align-items: center;
  gap: 1px;
  position: relative;
}

.profilePicSmall {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.forumPostUser {
  font-weight: bold;
  font-size: 0.8rem;
}

.forumPostTitle {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 2px;
  color: #2F4972;
}

.forumPostBody {
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.forumPostFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.commentIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.forumPostDate {
  font-size: 0.65rem;
  opacity: 0.8;
}