.pathFour {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    text-align: center;
    color: white;

}

.pageBackground {
    background-image: url('../../../assets/elements.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    min-height: 100vh; 
}


.textContainer h1{
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 40px;
}

.sectionContainer h2{
    color: white;
    font-size: 20px;
    text-align: start;
    padding: 10px;
}

.sectionContainer p{
    color: white;
    font-size: 14px;
    text-align: start;
    padding: 10px;
}



.loadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.loader span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #6a26d6;
}

.loader span:first-child {
    color: #ffffff; /* Primeira bolinha com cor diferente */
}

@media (min-width: 768px) {
    .pageBackground {
        background-image: none; /* Remove a imagem de fundo */
    }
    .sectionContainer h2{
        text-align: center;
    }
    .sectionContainer p{
        text-align: center;
    }
}