.pageBackground {
  background-image: url('../../assets/fundo_tela.svg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 80px; /* ajuste conforme a altura da Homebar */
  box-sizing: border-box;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.profilePic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.topicSection {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.10);
  padding: 20px;
  margin: 32px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 90%;
}

.topicTitle {
  color: #23457a;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
}

.doubt {
  background-color: #23457a;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  max-width: 100%;
  margin: 15px auto auto auto;
  display: flex;
}

.doubtText{
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.line{
  height: 0.5px;
  width: 100%;
  background-color: #23457a;
  margin: 20px auto 20px auto;
}

h1, h2 {
  font-weight: bold;
  margin: 0px;
  color: white;
}